# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/

# Test/cache
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml

# IDE
.vscode/
.idea/
